body {
    background-color: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    padding: 0;
    margin: 0;
}

#stop-watch {
    margin-top: 50%;
    padding: 1rem 1.8rem;
    width: fit-content;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: black;
    transform: translateY(-100%);
}

#action-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#timer {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    user-select: none;
}

button {
    padding: 12px;
    border: none;
}

button:disabled i {
    color: white;
}
